:root {
    --off-black: rgb(25, 25, 25);
    --off-white: rgb(251, 251, 251);
    --brand-color: rgb(103, 174, 110);
    --dark-brand-color: rgb(50, 142, 110);
    --light-brand-color: rgb(144, 198, 124);
    --completed-card-color: rgb(234, 253, 226);
}

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
	padding: 0;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    background-color: rgb(229, 233, 233);

    width: 100%;
    height: 100vh;
}

/* HEADER */

header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 12%;
    background-color: var(--off-white);
    box-shadow: 0px 5px 5px lightgray;
}

header .highlight {
    width: 100%;
    height: 8%;
    background-color: var(--brand-color);

    box-shadow: 0px 2px 5px lightgray;
}

header .text-container { 
    display: flex;
    flex-direction: column;

    padding: 0px 0px 1rem 1rem;
}

header .text-container h1 {
    color: var(--off-black);
    font-weight: 900;
    font-size: 2.25rem;
}

header .text-container a {
    text-decoration: none;
    font-weight: 600;
    color: var(--brand-color);
}

header .text-container a:hover {
    color: var(--dark-brand-color)
}


/* MAIN */

main {
    display: grid;
    grid-template-rows: 225px 1fr;

    padding: 2rem;

    overflow-y: auto;
}

main .library h1 {
    text-align: center;
    margin-top: 2rem;
    color: var(--off-black);
}


/* ADD BOOK FORM */

form {
    padding: 1rem;

    display: grid;
    gap: 1rem;

    width: max(400px, 65%);

    justify-self: center;

    background-color: var(--off-white);
    border-radius: 8px;
    box-shadow: 2px 4px 5px lightgray;

    overflow-y: auto;
}

form .upper-container,
form .lower-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}

form label,
form h3 {
   color: var(--off-black);
}

form h3 {
    font-size: 1rem;
    text-align: center;
    line-height: 1.5;
}

label span {
    color: rgb(190, 0, 0);
}

form .form-item,
form .form-item-smaller {
    display: grid;
    gap: .2rem;
    font-weight: 600;
}

form .form-item {
    flex: 1;
}

form .form-item-smaller {
    flex: .5;
}

form .radio-item {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.radio-element {
    display: grid;
}

.radio-element label {
    font-weight: normal;
}

input[type="radio"] {
    transform: scale(1.3);
}

form input[type="text"],
form input[type="number"] {
    border: none;
    background-color: rgb(235, 235, 235);
    border-radius: 8px;
    height: 2rem;
    font-size: 1rem;
    padding: .5rem;
}

form input[type="submit"] {
    background-color: var(--brand-color);

    border-style: none;
    border-radius: 8px;

    width: max(200px, 50%);
    height: 2.5rem;

    color: var(--off-white);

    padding: .25rem;

    font-weight: 700;
    font-size: 1.2rem;

    justify-self: center;
    align-self: center;
}

form input[type="submit"]:hover {
    cursor: pointer;
    background-color: var(--dark-brand-color);
}


/* CARD CONTAINER */

.card-container {
    padding: 2rem;
    
    display: grid;
    grid-template-columns: repeat(auto-fill,  minmax(425px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(150px, 1fr));
    gap: 2.5rem;
}

.book-card {
    position: relative;

    display: flex;

    background-color: var(--off-white);
    border-radius: 8px;

    padding: 0rem 1rem 0rem 0rem;

    box-shadow: 2px 4px 5px lightgray;

    min-height: 150px;
}

.book-card .highlight {
    position: absolute;
    left: 0;
    top: 0;

    box-shadow: 3px 0px 5px lightgray;
    
    background-color: var(--brand-color);

    height: 100%;
    width: .5rem;

    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.info-header {
    display: flex;
    flex-direction: column;

    gap: .25rem;

    width: 60%;
    height: 100%;

    padding: 1rem 1.5rem;

    border-radius: 8px;

    background-color: rgb(242, 250, 242);
    box-shadow: 0px 1px 5px lightgray;
}

.info-header .divider {
    background-color: lightgray;
    height: 1px;
    width: 75%;
}

.info-container {
    display: grid;
    align-items: center;
}

.info-container h2 {
    font-size: 1.25rem;
}

.info-container h3 {
    font-size: 1rem;
    font-style: italic;
    font-weight: 300;
}

.info-header .subinfo-container {
    display: flex;
    gap: .75rem;
    text-align: center;
    color: var(--off-black);
}

.info-header .subinfo-container .info-divider {
    width: 1px;
    height: 75%;
    align-self: center;
    background-color: rgb(200, 200 ,200);
}

.info-header .subinfo-container h4 {
    font-weight: 500;
    font-size: .8rem;
}

.info-header .subinfo-container p {
    font-weight: 600;
    font-size: .9rem;
}

.book-card .button-container {
    display: flex;
}

.book-card .remove {
    position: absolute;
    top: .5rem;
    right: .5rem;

    border-style: none;
    background-color: rgb(226, 93, 93);
    border-radius: 50%;
    
    color: white;
    font-weight: 600;
    font-size: 1.5rem;

    background-image: url(images/cancel.png);
    background-repeat: no-repeat;
    background-size: cover;

    width: 2.5rem;
    height: 2.5rem;
}

.book-card .toggle-read {
    border-style: none;
}